.root{
    -fx-background-color: #242B25;
    -fx-text-fill: white;
}

.pnl_separator_vertical_left {
    -fx-border-color: #586759;
    -fx-border-width: 0px 1px 0px 0px;
}

.pnl_separator_horizontal_bottom {
    -fx-border-color: #586759;
    -fx-border-width: 0px 0px 1px 0px;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}
/* Text Field Search */
.text-field {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #2F3E31;
    -fx-text-fill: #E0E0E0;
    -fx-border-color: #414D42;
    -fx-border-width: 2px;
    -fx-text-fill: #B0B0B0;
}
.text-field:focused {
    -fx-border-color: #8F9C88;
    -fx-border-width: 2px;
}

/* Button Styles */
.button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
    -fx-background-color: #6C8B74;
    -fx-border-width: 0px;
    -fx-text-fill: white;
}

.button-blue {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #457EB4;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-text-fill: white;
}

.button-green {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #45B47E;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-effect: none;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-cursor: hand;
    -fx-effect: none;
}

/* Icons style */
.icon-transparent {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 0px;
    -fx-icon-color: white;
    -fx-icon-size: 30px;
}

.icon-transparent FontIcon{
    -fx-icon-color: white;
    -fx-icon-size: 30px;
}

.icon-small FontIcon{
    -fx-icon-color: white;
    -fx-icon-size: 15px;
}

/* Tables Style */
.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view FontIcon {
    -fx-icon-color: white;
    -fx-icon-size: 24px;
}

.table-view .column-header {
    -fx-background-color: #242B25;
    -fx-border-color: #D4D6D0;
    -fx-padding: 10px;
    -fx-border-width: 0px 0px 1px 0px;
}

.table-view .column-header .label {
    -fx-text-fill: #E0E0E0;
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 16px;
    -fx-border-width: 0px;
    -fx-width: 100%
}

.table-row-cell{
    -fx-background-color: transparent;
    -fx-border-color: #D4D6D0;
    -fx-padding: 10px;
    -fx-border-width: 0px 0px 1px 0px;
}

.table-row-cell:hover{
    -fx-background-color: #2F3830;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-alignment: CENTER-LEFT;
    -fx-border-color: transparent;

}

.table-row-cell:filled:selected {
     -fx-background-color: #2F3830;
}

.table-low-profile .table-cell{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}
/* Events Style */
.selected-panel {
    -fx-background-color: #457EB4;
}

/*  Special Panel */
.pnl-opc{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-background-color: #2E3A2F;
}

.pnl-history Label{
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

/* Events Style */
.selected-panel {
    -fx-background-color: #457EB4;
}