.root{
    -fx-background-color: #242B25;
    -fx-text-fill: white;
}

.pnl_separator_vertical_left {
    -fx-border-color: #586759;
    -fx-border-width: 0px 1px 0px 0px;
}

.pnl_separator_horizontal_bottom {
    -fx-border-color: #586759;
    -fx-border-width: 0px 0px 1px 0px;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}
/* Text Field Search */
.text-field {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #2F3E31;
    -fx-text-fill: #E0E0E0;
    -fx-border-color: #414D42;
    -fx-border-width: 2px;
    -fx-text-fill: #B0B0B0;
}
.text-field:focused {
    -fx-border-color: #8F9C88;
    -fx-border-width: 2px;
}

/* Button Styles */
.button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
    -fx-background-color: #6C8B74;
    -fx-border-width: 0px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #8F9C88;
}

.button-red:pressed, .button-red:hover, .button-red {
    -fx-background-color: #F44336;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #C62828;
}

.button-blue:pressed, .button-blue:hover, .button-blue {
    -fx-background-color: #2196F3;
        -fx-text-fill: #FFFFFF;
        -fx-border-color: #1976D2;
}

.button-green:pressed, .button-green:hover, .button-green {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #388E3C;
}
/* Cards style */
.card {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #414D42;
    -fx-background-color: #2F3E31;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}
.card .label {
    -fx-text-fill: #E0E0E0;
}

.card-sub-info{
    -fx-font-size: 10px;
}

.card-title{
    -fx-font-size: 16px;
}

.card-selected {
    -fx-background-color: #2F3E31;
    -fx-border-color: #8F9C88;
    -fx-border-width: 4px;
    -fx-padding: 8px;
}

/* Icons style */
.icon-transparent {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 0px;
    -fx-icon-color: white;
    -fx-icon-size: 30px;
}

.icon-transparent FontIcon{
    -fx-icon-color: white;
    -fx-icon-size: 30px;
}

/* Tables Style */
.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
    -fx-border-width: 0;
}

.table-view .column-header {
    -fx-background-color: #1D231E;
    -fx-hgrow: always;
}

.table-view .column-header .label {
    -fx-background-color: #1D231E;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 14px;
}

.table-row-cell{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.table-row-cell:hover{
    -fx-background-color: #333D34;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-alignment: CENTER-LEFT;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-row-cell:filled:selected {
     -fx-background-color: #333D34;
     -fx-border-color: transparent;
}

/* Events Style */
.selected-panel {
    -fx-background-color: #457EB4;
}