/*
ligth theme
background: #F9F9F9
style-menu: #B1DD82
style-menu-item: #85A462
style-sub-menu-time: B9E58A
text-fill: #2E2E2E
*/

.menu_bar{
    -fx-background-color: #414D42;
    -fx-padding: 10px;
    -fx-max-width: 180px;
}

.menu_bar .label{
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0px;
    -fx-margin: 0px;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.combo-box .list-view{
    -fx-background-color: #313932;
    -fx-border-color: transparent;
    -fx-padding: 0px;
    -fx-margin: 0px;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.combo-box .list-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0px;
    -fx-margin: 0px;
    -fx-text-fill: white;
}

.menu_bar .powered_by{
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

.icon_menu_config{
    -fx-icon-size: 20px;
    -fx-icon-color: white;
}

.devices_manager{
    -fx-background-color: #313932;
    -fx-background-radius: 100px;
    -fx-padding: 5px;
    -fx-margin: 5px;
}

.icon_menu_bar{
    -fx-icon-size: 25px;
    -fx-icon-color: white;
}

.menu_bar .device_name_lbl {
    -fx-font-size: 12px;
}

.icon_menu_bar:disabled	{
    -fx-icon-color: gray;
}

.menu_bar_button{
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-background-radius: 0; /* Sin bordes redondeados */
    -fx-border-color: transparent; /* Borde transparente */
    -fx-border-width: 0; /* Sin borde */
    -fx-padding: 0; /* Sin padding */
    -fx-text-fill: black; /* Color del texto negro */
    -fx-effect: none; /* Sin efectos */
}

.menu_bar_button:hover{
    -fx-cursor: hand;
}

.menu_bar_opc{
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-style: solid;
    -fx-border-color: #586759;
    -fx-padding: 5px 0px;
    -fx-spacing: 5px;
}


.menu_list_container:hover, .menu_opc:hover{
    -fx-border-width: 0px;
    -fx-border-style: solid;
    -fx-border-radius: 100px;
    -fx-background-color: #313932;
    -fx-background-radius: 100px;
    -fx-cursor: hand;
}

.menu_opc, .menu_list_title, .menu_list_item{
    -fx-padding: 5px 10px;
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

.menu_list_item{
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-opacity: 0;
}

.menu_opc_list:hover .menu_list_item {
    -fx-pref-height: 42px;
    -fx-min-height: 42px;
    -fx-opacity: 1;
    -fx-background-color: #85A462;
}
