/*
ligth theme
background: #F9F9F9
style-menu: #B1DD82
style-menu-item: #85A462
style-sub-menu-time: B9E58A
text-fill: #2E2E2E
*/

.menu_bar{
    -fx-background-color: #9EC475;
    -fx-padding: 10px;
    -fx-max-width: 250px;
}

.menu_bar .label{
    -fx-text-fill: #2E2E2E;
    -fx-font-size: 16px;
}

.menu_bar .powered_by{
    -fx-text-fill: #2E2E2E;
    -fx-font-size: 12px;
}

.icon_menu_bar{
    -fx-fit-width: 16px;
    -fx-fit-height: 16px;
}

.menu_bar_button{
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-background-radius: 0; /* Sin bordes redondeados */
    -fx-border-color: transparent; /* Borde transparente */
    -fx-border-width: 0; /* Sin borde */
    -fx-padding: 0; /* Sin padding */
    -fx-text-fill: black; /* Color del texto negro */
    -fx-effect: none; /* Sin efectos */
}

.menu_bar_button:hover{
    -fx-cursor: hand;
}

.menu_bar_opc{
    -fx-spacing: 5px;
    -fx-padding: 10px 0px 10px 0px;
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-style: solid;
    -fx-border-color: #85A462;
}


.menu_list_container:hover, .menu_opc:hover{
    -fx-border-width: 0px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-background-color: #85A462;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.menu_opc, .menu_list_title, .menu_list_item{
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

.menu_list_item{
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-opacity: 0;
}

.menu_opc_list:hover .menu_list_item {
    -fx-pref-height: 42px;
    -fx-min-height: 42px;
    -fx-opacity: 1;
    -fx-background-color: #85A462;
}
