/*
ligth theme
    background: #F9F9F9
    style-menu: #B1DD82
    style-menu-item: #85A462
    style-sub-menu-time: B9E58A
    text-fill: #2E2E2E
*/
.lbl_popup{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-fill-color: #2E2E2E;
}

.label{
    -fx-fill-color: #2E2E2E;
}

.popup{
    -fx-background-color: #F9F9F9;
}